home_body {
    background: black;
}

ion-content {
    background: color($colors, dark);
    color: color($colors, light);
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
}
